<!DOCTYPE html>
<html>
	<head>
		<title>Gateways</title>
		<!-- internal style -->
		<style type="text/css">
			body {
				background-color: grey;
			}
			p{color: blue;}
			#active{
				color: blue;
			}
			#inactive{
				color: white;
			}
			.header2{
				color: green;
			}
			.white{
				color: white;
			}
		</style>
	</head>
	<body> 
		<h1 style="color: blue">List of GateWays</h1><!-- inline styles -->
		<a href="/create_gateway">CREATE GATEWAY</a>
		<p id="active">Gateway1</p>
		<p id="inactive">Gateway2</p>
		<p id="active">Gateway3</p>
		<p id="active">Gateway4</p>
		<p id="inactive">Gateway5</p>
		<h2 class="header2">This is HEADER@</h2>

		<div class="white">
			<h1 >header1</h1>
			<p>paramgrap</p>
			<a href="">anchor</a>
			<table ><tr>
				<td>Table</td>
			</tr></table>
			
		</div>

		

	</body>
</html>